  <ul class="pagination">
    <% if @api_client.page_number > 1 %>
      <li class="waves-effect">
        <a href="<%= books_url(query: @api_client.query,
                               page_number: (@api_client.page_number - 1)) %>" >
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
    <% end %>

    <% (calculate_page_range(@api_client.page_number, @books.try(:count))).each do |n| %>
      <% next unless n.positive? %>
      <li class='<%= @api_client.page_number == n ? "teal lighten-3 active white-text" : "waves-effect" %>' >
        <%= link_to n, books_path(query: @api_client.query, page_number: n) %>
      </li>
    <% end %>

    <% if @books&.count == 10 %> <!-- how to phrase this... -->
      <li class="waves-effect">
        <a href=<%= books_url(query: @api_client.query, page_number: (@api_client.page_number + 1)) %> >
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    <% end %>
  </ul>
