<nav>
  <div class="nav-wrapper" data-controller="book">
    <%= form_tag("/books", method: "get", id: "books-form", class: "input-field teal lighten-3", remote: true, data: { type: "html", action: "ajax:success->book#onPostSuccess" } ) do %>
      <input id="query-input" type="search" placeholder="Enter search terms here" name="query" required value='<%= query %>' data-target="book.query">
      <input name="page" value="1" type="hidden" data-target="book.page">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <button class="not-visible">Search</button>
    <% end %>
  </div>
</nav>
